$black: #000000;
$grey: #6c6c6c;
$light-grey: #9b9b9b;
$very-light-grey: #e6e6e6;
$blue: #34385C;
$beige: #ede9e3;
$purple: #8A6988;
$green: #89AC17 !default;
$red: #D1503D !default;
$yellow: #FBFDCD !default;
