<div class="container-50">
  <h1>Who are we?</h1>
  <p>
    Hey there!
    <br><br>
    We set out to build an Airbnb clone using Ruby on Rails. Our mission? To master the ins and outs of web development—think creating, reading, updating, and deleting stuff, making new pathways, writing reviews, plotting things on maps, and playing around with posting.
    <br><br>
    While brainstorming about a platform for finding a sweet spot to crash, we couldn't shake off a big issue: finding a decent place to live in the city without breaking the bank. That got us thinking—why not chat about housing in a not-so-serious way?
    <br><br>
    Finding a home sweet home on an average wage in the city is no walk in the park. That's where we step in. This platform is now just about our coding adventures; but it would be cool if in the future it'd become a spot to chat about the real struggles of finding a place to call your own in the urban jungle.
    <br><br>
    Stick around and hopefully in the near future we'll dive into these topics, swap stories, and maybe—just maybe—add a drop to the bucket of conversations about snagging a spot in the city. Welcome to our corner, where we're not just about places to stay but also about chatting, exploring, and understanding the ever-changing vibe of city living.
  </p>
</div>
