<div class="container-70">
  <h1>The housing crisis</h1>
  <p>“The world is grappling with a situation where more and more people are unable to afford their housing costs. Millions lack the financial means to access safe, secure and habitable housing,” said Balakrishnan Rajagopal, the UN Special Rapporteur on the right to adequate housing.</p>
  <a href="https://www.ohchr.org/en/press-releases/2023/10/un-expert-urges-action-end-global-affordable-housing-crisis">UN expert urges action to end global affordable housing crisis</a>
  <br><br><br>
  <p>In australia house prices have risen for the past three months. In America a widely watched index of housing values has risen by 1.6% from its low in January, and housebuilders’ share prices have done twice as well as the overall stockmarket. In the euro area the property market looks steady. “[M]ost of the drag from housing on gdp growth from now on should be marginal,” wrote analysts at jpmorgan Chase, a bank, in a recent report about America. “[W]e believe the peak negative drag from the recent housing-market slump to private consumption is likely behind us,” wrote wonks at Goldman Sachs, another bank, about South Korea.</p>
  <a href="https://www.economist.com/finance-and-economics/2023/06/12/is-the-global-housing-slump-over">Is the global housing slump over?</a>
</div>
