.card {
  width: 300px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  .text {
    padding: 15px;
  }
  img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0 0;
  }
  h3{
    height: 60px;
    line-height: 25px;
  }
  p {
    height: 65px;
    font-size: 14px;
    margin: 2px;
  }
  .numbers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
  }
}

.card:hover {
  background-color: $beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

// Posts

.post {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 100%;
  margin: 10px 0;
}

.post-card {
  flex-grow: 2;
  margin-top: 0;
  width: 240px;
  padding-right: 20px;
}

.post-image {
  width: 260px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  flex-grow: 1;
}


// Reviews
.review-card {
  width: 250px;
  max-width: 350px;
  flex-grow: 1;
  min-height: 150px;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 15px;
  position:relative;
  .delete {
    position: absolute;
    bottom: 15px;
    right: 15px;
    &:hover {
      color: $red;
    }
  }
}

.review {
  padding-left: 0 !important;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  gap: 30px;
  li {
    list-style: none;
  }
}

// bin
.bin {
  &:hover {
    color: $red;
  }
}
