.card {
  width: 300px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 5px;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  .text {
    padding: 15px;
  }
  img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0 0;
  }
  h3{
    height: 60px;
    line-height: 25px;
  }
  p {
    height: 65px;
    font-size: 14px;
    margin: 2px;
  }
  .numbers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
  }
}

.card:hover {
  background-color: $beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
